<h2 id='title'>Welcome Car Pooling</h2>

<nav class="navbar navbar-nav" role="navigation">
<ul class="nav navbar-nav">
{{#link-to 'riders' tagname='li'}}
	Rider
{{/link-to}}
{{#link-to 'owners' tagname='li'}}
	Owner
{{/link-to}}
</ul>
</nav>
{{outlet}}
